// CUSTOM PROPERTIES

//Colors
$color-primary: #FF7B86; // Medium green
$color-primary-light: #FF8B71; // Light green
$color-primary-dark: #FF4658; // Dark green

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;


$color-gray-light-1: #C7C8CD;
$color-gray-light-2: #FAFAFA;

$color-gray-dark: #777;
$color-gray-dark-2: #999;
$color-gray-dark-3: #24242C;

$color-white: #fff;
$color-black: #000;

//Font
$default-font-size: 1.6rem;

// Grid
$grid-width: 114rem;
$glutter-vertical: 8rem;
$glutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;